<div class="header text-center">
  <h1>
    <span translate>add_edition</span>
  </h1>
</div>
<div class="content p-24">
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label><span translate>edition_year</span></mat-label>
      <input matInput formControlName="year" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" (click)="save()">
        <span translate>save_edition</span>
      </button>
    </div>
  </form>
</div>
